name: Build and Deploy

on:
  push:
    branches: ["master", "action" ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm install
        env:
          CI: false

      - name: Configure Git
        run: |
          git config --local user.name "${{ github.actor }}"
          git config --local user.email "${{ github.actor }}@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.DEPLOY_PAT_CLASSIC }}@github.com/${{ github.repository }}.git

      - name: Run deploy script
        run: npm run deploy -- -m "Deploy React app to GitHub Pages"
        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.DEPLOY_PAT_CLASSIC }}
